.resume {
  width: 100%;
  padding: 30px;
  box-shadow: 0 0 20px 3px black;
}
.resume * {
  padding: 5px;
  margin: 5px;
}
.resume > .content {
  border: 2px solid white;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.resume .left {
  width: 53%;
}
.resume .right {
  width: 47%;
}

.technicalSkills .technicalSkill {
  display: inline-flex;
  background-color: rgb(43, 52, 61);
  color: white;
  padding: 5px 13px;
  margin: 5px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s ease;
}
.technicalSkills .technicalSkill:hover {
  background-color: hsl(210deg, 17%, 10%);
}

.progLangs span {
  display: inline-flex;
}
.progLangs .progLang {
  background-color: black;
  padding: 8px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progLangs .progLang .title {
  font-size: 18px;
  font-weight: 700;
  color: white;
  width: 30%;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  margin-left: 2px;
}
.progLangs .progLang .progressBarOuter {
  padding: 1px;
  border: 2px solid rgb(255, 255, 255);
  width: 70%;
}
.progLangs .progLang .progressBarInner {
  background-color: white;
  height: 10px;
  width: 100%;
}

.secTitle {
  border: 2px solid blue;
  font-size: 18px;
}

.inputform {
  padding: 0;
  background-color: brown;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.inputform input {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  display: inline-flex;
  height: 50px;
  background-color: rgb(183, 183, 183);
  outline: none;
  border: 0;
}
.inputform input::-moz-placeholder {
  color: rgb(73, 73, 73);
}
.inputform input:-ms-input-placeholder {
  color: rgb(73, 73, 73);
}
.inputform input::placeholder {
  color: rgb(73, 73, 73);
}
.inputform .icon {
  padding: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.inputform .icon:hover {
  transform: scale(1.1);
}
.inputform .icon svg {
  border: 0;
  padding: 0;
}

.itemInputform {
  background-color: rgb(45, 45, 45);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}
.itemInputform input {
  border: 0;
  outline: none;
  display: inline-flex;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}
.itemInputform .icon {
  border: 0;
  border-radius: 50%;
  padding: 0;
  font-size: 30px;
  transition: all 0.2s ease;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  background-color: gray;
  color: green;
  font-weight: bold;
}
.itemInputform .icon:hover {
  transform: scale(1.1);
}
.itemInputform .icon svg {
  padding: 0;
  border: 0;
}
.itemInputform .icon:last-child {
  color: red;
}

.addItems {
  width: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.addItems * {
  border: 0;
  padding: 0;
  margin: 0;
}
.addItems span {
  display: inline-flex;
}
.addItems .plus {
  font-size: 35px;
  width: 50px;
  color: blue;
  font-weight: bold;
  padding: 0;
}
.addItems .dashedLine {
  border-bottom: 5px dashed blue;
  width: calc(100% - 90px);
}
.addItems .dot {
  font-size: 35px;
  width: 40px;
  color: blue;
}/*# sourceMappingURL=App.module.css.map */